$color-primary : #272B26;
$color-secondary : #939593;
$color-background : #F8F6F4;
$color-surface : #FFF;
$color-background-dark : #153127;
$color-green : #27B582; 
$color-basil : #1E8E66;
$color-pine : #17674A;
$color-parakeet : #6ED163;
$color-chartreuse : #B7DD6D;
$color-mint : #4CBF7A;
$color-orange : #FE7F22;
$color-orange-8 : rgba(254, 127, 34, 0.08);
$color-yellow : #FDBF0C;
$color-sky : #E2FFFF;
$color-primary-40 : rgba(39, 43, 38, 0.40);
$color-primary-4 : rgba(39, 43, 38, 0.04);

$font-family1 : Geologica, sans-serif;
$font-family1 : Montserrat, sans-serif;
$font-family2 : Inter, sans-serif;

$animation-length : 180px;
$transition-time : .2s;

$screen_XS	:  480px;
$screen_S	:  767px;
$screen_M	: 1024px;
$screen_L	: 1366px;
$screen_XL	: 1440px;
